doctype html
html
	body
		//script(type='text/javascript').
		//var allRecords=  JSON.parse('!{records}');
		//for(var i=0;i<allRecords.length;i++)
		//console.log(allRecords[i].camera_id);
		//script(type='text/javascript').
		//	var a =5;
		//the result is #{a}
		table(border="1" style="100%")
			thead
			tbody
				tr
					th(id="camera_id") Camera_id
					th(id="location") Location
					th(id="result") Result1
					th(id="confidence") Confidence1
					th(id="confidence") Result2
					th(id="confidence") Confidence2
				each recObj in records
					tr
						td #{recObj['camera_id']}
						td #{recObj['site_id']}
						if(recObj.results!=null)
							each result in recObj.results
								td #{result['plate']}
								td #{result['confidence']}
							